body{
    display: flex;
    justify-content: center;
}
#pageHeader{
  text-align: center;
}



#cardContainer{
    width: auto;
    height: auto;
    background-color: white;
    border: 2px black solid;
    margin: 10px 10px 10px 10px;
}

#card-buttons{
  white-space: nowrap;
  display: inline-block;
}

#blogCardsContainer{
    /* border: 5px dashed black; */

    width: 900px;
    height: auto;

  }


#blog-form{
    width: auto;
    height: auto;
    /* border: 5px dashed black; */



}

#modal-form{
  width: auto;
  height: auto;
  /* border: 5px dashed black; */

}
#navBar{
    justify-content: center;
}